<style>
	.content-index{
		padding: 25px;background: rgb(255,255,255,0.6);
	}
	.content-index h1,.content-index h2,.content-index h3{
		border-bottom: 1px solid #dadada;font-weight: 500;
		color: #1e2732;padding: 25px 3px 9px;
	}
    .content-index b,.content-index strong{
        font-weight: 500;color: #08f;
    }
    .content-index em{
        font-weight: 300;color: #66cdaa;
    }
        .content-index h4,.content-index h5,.content index h6{
            font-weight: 500;color:#1e2732;padding: 20px 3px 9px;
        }
	.content-index p{
		margin: 8px 2px;color: rgb(64,64,64);line-height: 180%;padding: 1px 16px;
	}
	.content-index img{
		margin: 12px auto;width: 90%;border-radius: 8px;
	}
	.content-index ol{
		font-size: 92%;display: block;color: #414141;padding: 18px;border-left: 8px solid  #dadada;
	    line-height: 150%;
        }
	.content-index li{
		font-size: 85%;color: rgb(111,111,111);margin: 3px 20px;
	}
	.content-index a{
		color: #e9546b;transition: 0.15s;
	}
	.content-index a:active{
		color: #08f;decoration: 1px #08f;
	}
	.content-index blockquote{
		position: relative;
		width: 70%;margin: 8px auto;padding: 20px 16px;font-size: 85%;color: rgb(111,111,111);font-weight: 300;
		background: rgb(244,244,244);display: block;padding-top: 49px;
		border-radius: 8px;border: 1px solid #dadada;
	    max-width: 560px;
    }
	.content-index blockquote::after{
		content: '“';font-size: 490%;color: rgb(99,99,99);font-weight: 500;
		position: absolute;left: 5px;top:  8px;
    }
    /*
    TO: footer.html
    @font-face{
        	font-family: "汉仪文黑-85W";
            	src: url( 'https://luluyouweia.github.io/public/font/HYWH-85W.ttf');
    }
    *{
        	font-family: "汉仪文黑-85W";
    }
    */
</style>