{% include commit.html %}
<section class="footer" style="overflow: auto;">
        转发链接：<a id="thisLink" style="width: 80vw;overflow: auto;" href="#">链接</a><br><br>
        Power  by <a href="https://github.com">GitHub Pages</a>.
        <br>
        {{ site.data.footer.text }}
	</section>
    <script>
        const thisUrl=location.href;
    document.getElementById("thisLink").innerText=thisUrl;
    document.getElementById("thisLink").href=location.href;
    </script>
    <style>
        @font-face{
        	font-family: "汉仪文黑-85W";
            	src: url( '/public/font/HYWH-85W.ttf');
    }
    *{
        	font-family: "汉仪文黑-85W";
    }
    </style>