<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta charset="utf-8"/>
<link rel="stylesheet" href="/public/indexstyle.css">
<script>
        let l_url=location.href;
        let $TYPE="0";
                    if(l_url.split('?')!='undefined'){
                               let v=l_url.split("?")[1];
                               $TYPE=v;
                    }
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1905615596870458"
     crossorigin="anonymous"></script>