<p style="font-size: 180%;text-align: center;color: #08f;">
<!-- 文章 -->
	<i class="fa fa-pencil-square" style="transition: 0.3s;background-image: linear-gradient(to bottom right, #fb698f, #97cdff);background-clip:text;-webkit-background-clip:text;color: transparent;"> </i>
			&nbsp文章
</p>
		
	{% for post in site.posts %}
		<div class="content-list">
			<div class="content-list-image">
				<img src="{ site.data.bg1 }"></img>
				<p>{{ post.title }}</p>
			</div>
			
			<a class="content-list-text" href="{{ post.url }}">{{ post.excerpt }}</a>
			<!-- Tag -->
			<div class="theme"><ul><li>tag</li></ul></div>
			
		</div>
	{% endfor %}
