<p style="font-size: 210%;text-align: center;color: #000;padding-bottom: 12px;">
<!-- 文章 -->
	<i class="fa fa-pencil-square" style="transition: 0.3s;background-image: linear-gradient(to bottom right, #fb698f, #97cdff);background-clip:text;-webkit-background-clip:text;color: transparent;"> </i>
			&nbsp文章
</p>
		
	{% for post in site.posts %}
		<div class="content-list">
			<div class="content-list-image">
				{% if post.img %}
				        <img src="{{ post.img }}" loading="lazy"></img>
			        {% else %}
			                <img src="./images/bg1.jpg"></img>
                                {% endif %}

				<h1>{{ post.title }}</h1>
			</div>
			
			<a class="content-list-text" href="{{ post.url }}">
			{{ post.excerpt }}
			<div class="theme"><ul><li>tag</li></ul></div>
			</a>
			<!-- Tag -->
			
		</div>
	{% endfor %}
