
{% for post in site.posts %}
		<div class="content-list">
			<div class="content-list-image">
				{% if post.img %}
				        <img src="{{ post.img }}" loading="lazy"></img>
			        {% else %}
			                <img src="./images/bg1.jpg"></img>
                                {% endif %}

				<h1 style="font-family: none !important">{{ post.title }}</h1>
			</div>
			
			<a class="content-list-text" href="{{ post.url }}">
			{{ post.excerpt }}
			<div class="theme"><ul><li>tag</li></ul></div>
			</a>
			<!-- Tag -->
			
		</div>
	{% endfor %}
