<br><br><br>
<section id="startpage">
    <div>鹿碌有为</div>
    <section>嘿嘿，2023新年快乐!</section>
</section>
<script>
    alert("他妈这bug咋找不到啊，艹");/*
    let stpText=document.querySelectorAll("#startpage>section")[0].innerHTML;
        const text=stpText;
        stpText="";
        alert(stpText)
        let a=setInterval(()=>{
            if(stpText==""){
                stpText="|";
            }else{
                stpText="";
            }
        },600)
        let displayAll=(i)=>{
            if(i>text.length)return true;
            stpText+=text[i];
            ++i;
            setTimeout(displayAll(i),350)
        }()
        setTimeout(()=>{
            clearInterval(a);
            displayAll(0);
        },2600)
        */
</script>
