<br><br><br>
<section id="startpage">
    <div>鹿碌有为</div>
    <section>嘿嘿，2023新年快乐!</section>
</section>
<script>
    alert("好耶，找到bug啦哈哈");
    const text=document.querySelectorAll("#startpage>section")[0].innerHTML;
        let a=setInterval(()=>{
            if(document.querySelectorAll("#startpage>section")[0].innerHTML==""){
                document.querySelectorAll("#startpage>section")[0].innerHTML="|";
            }else{
                document.querySelectorAll("#startpage>section")[0].innerHTML="";
            }
        },600)
        let displayAll=(i)=>{
            if(i==text.length)return true;
            let t=document.querySelectorAll("#startpage>section")[0].innerHTML.split("|")[0];
            document.querySelectorAll("#startpage>section")[0].innerHTML=t+"|";
            ++i;
            setTimeout(()=>displayAll(i),1000)
        }
        setTimeout(()=>{
            document.querySelectorAll("#startpage>section")[0].innerHTML="";
            clearInterval(a);
            displayAll(0);
        },4000)
</script>
