<!-- 侧滑栏 -->
<div class="overflow-screen" style="display: none;"></div>
	<section class="head-tittle"><span class="too-bar-btn fa fa-bars" style="color: #414141;padding: auto 3px;padding-right: 9px;" onclick="tooBarBtn(0)"></span>
        {{ site.data.config.title }}
    </section>

	<section class="too-bar">
		<div class="blog-host-image"><img src="/images/bg1.jpg"></img></div>
		<div class="blog-host-name">{{ site.data.config.title }}</div>

		<section class="blog-data-list">
			<a href="#">文章
			<div>
			{{ site.posts.size }}
			</div>
			</a>
			<a href="#">公告<div>0</div></a>
			<a href="#">产品<div>2</div></a>
		</section>

		<ul class="blog-list">
			<li class="true"><a href="/index.html">个人主页</a></li>
			<li><a href="#">归档记录</a></li>
			<li><a href="/about.html">我的项目</a></li>
			<li><a href="/about.html">关于博客</a></li>
			<li><a href="/0">特别推荐</a></li>
		</ul>
		<ul class="blog-findme-source">
			<li><a class="fa fa-github" style="color: #414141;" href="https://github.com/Luluyouweia"></a><p>Github</p></li>
			<li><a style="background: #08f;color: #fff;font-weight: 100;">知</a><p>知乎</p></li>
		</ul>
	</section>
    鹿碌有为2023<br>
    <a href="https://beian.miit.gov.cn/#/Integrated/index">新ICP备114514号</a>
    <section class="DATAS" id="background">
    {% if page %}
         {% if page.background %}
              {{ page.background }}
         {% else %}
              {{ site.data.config.background }}
         {% endif %}
    {% else %}
        {{site.data.config.background}}
    {% endif %}
    </section>
<script>
		var tooBarBtn=(e)=>{
			if(e==0){
				document.getElementsByClassName("too-bar")[0].style.left="0%";
				document.getElementsByClassName("overflow-screen")[0].style.display="block";
			}
		}
		
		document.getElementsByClassName("overflow-screen")[0].onclick=()=>{
			document.getElementsByClassName("overflow-screen")[0].style.display="none";
			document.getElementsByClassName("too-bar")[0].style.left="-252px";
		}
        document.body.style.backgroundImage=`url(`+document.getElementById("background").innerText+`)`;
	</script>
