<!-- 侧滑栏 -->
	<section class="too-bar">
		<div class="blog-host-image"><img src="https://luluyouweia.github.io/images/bg1.jpg"></img></div>
		<div class="blog-host-name">鹿碌有为</div>

		<section class="blog-data-list">
			<a href="#">文章
			<div>
			{{ site.posts.length }}
			</div>
			</a>
			<a href="#">公告<div>0</div></a>
			<a href="#">产品<div>2</div></a>
		</section>

		<ul class="blog-list">
			<li class="true">博客首页</li>
			<li>归档记录</li>
			<li>宝藏项目</li>
			<li>关于博客</li>
			<li>精心推荐</li>
		</ul>
		<ul class="blog-findme-source">
			<li><a class="fa fa-github" style="color: #414141;" href="https://github.com/Luluyouweia"></a><p>Github</p></li>
			<li><a class="fa fa-twitter" style="color: #fff;background: #08f;" href="javascript:alert('@Lucel123')"></a><p>Twitter</p></li>
			<li><a class="fa fa-qq" style="color: #08f;" href="javascript:alert('我的QQ：鹿碌有为')"></a><p>QQ</p></li>
			<li><a style="background: #08f;color: #fff;font-weight: 100;">知</a><p>知乎</p></li>
		</ul>
	</section>
<script>
		var tooBarBtn=(e)=>{
			if(e==0){
				document.getElementsByClassName("too-bar")[0].style.left="0%";
				document.getElementsByClassName("overflow-screen")[0].style.display="block";
			}
		}
		
		document.getElementsByClassName("overflow-screen")[0].onclick=()=>{
			document.getElementsByClassName("overflow-screen")[0].style.display="none";
			document.getElementsByClassName("too-bar")[0].style.left="-65%";
		}
	</script>
