	*{
		margin: 0;padding: 0;box-sizing: border-box;
	}
	a{
		-webkit-tap-highlight-color: rgba(0,0,0,0);text-decoration: none;color: #000;
	}
    a:active{color: #000;}
	.head-tittle{
		width: 100vw;padding: 15px 16px;position: fixed;top: 0;left: 0;border-bottom: 2px solid #dadada;
		background: rgb(255,255,255,0.85);
		z-index: 8;font-size: 120%;font-weight: 100;
	}
	body{
		position: relative;height: 100vh;background: #fff;
	}
	.main-content{
		width: 100vw;min-height: 80vh;background: #fff;
	}
	.content-list{
		position: relative;width: 94%;margin: 25px auto;padding-bottom: 8px;
		overflow: hidden;transition: 0.3s;
	}
	
	.content-list:hover{
		box-shadow: 8px 8px 8px 8px #dadada;border-radius: 0;width: 100%;margin-top:  -12px;z-index: 3;
	}
	.content-list-image{
		position: relative;border-radius: 8px;
		margin: auto;width: 100%;overflow: hidden;line-height: 0;
		transition: 0.5s;max-height: 300px;
	}
	.content-list-image img:hover{
		width: 110%;height: 100%;
	}
	.content-list-image img{
		width: 100%;height: 100%;transition: 0.25s;
	}
        .content-list-image h1{
                position: relative;
                color: #fff;
                font-size: 2.5rem;
                margin-top: 10px;
                width: 100%;
                box-sizing: border-box;
                text-transform: none;
                margin: 0;
                padding: 16px;
                z-index: 1;
                text-shadow: 0 1px 3px #00000040;
            }

         .content-list-image h1:after {
                background-image: -moz-linear-gradient(to top, rgba(16, 16, 16, 0.35) 25%, rgba(16, 16, 16, 0) 100%);
                background-image: -webkit-linear-gradient(to top, rgba(16, 16, 16, 0.35) 25%, rgba(16, 16, 16, 0) 100%);
                background-image: -ms-linear-gradient(to top, rgba(16, 16, 16, 0.35) 25%, rgba(16, 16, 16, 0) 100%);
                background-image: linear-gradient(to top, rgba(16, 16, 16, 0.35) 25%, rgba(16, 16, 16, 0) 100%);
                -moz-pointer-events: none;
                -webkit-pointer-events: none;
                -ms-pointer-events: none;
                pointer-events: none;
                background-size: cover;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: -1;
            }
    .content-list-image p p{bottom: 0;display: block;font-size: 210%;font-weight: 500;}
   /* .content-list-image p::before{
        content: '';display: block;position: absolute;background-image: linear-gradient(to bottom,rgb(0,0,0,0),rgb(0,0,0,0.4));
        padding: 12px;width: 100%;height: 40%;bottom: 0;
    }*/
	.content-list-text{
		color: #414141;width: 100%;padding: 12px;padding-top: 3px ;
		font-size: 105%;padding-bottom: 3px;display: block;
	}
	.theme{
		padding: 20px;
	}
	.theme ul{
		list-style-type: none;padding: 8px 18px;border-radius: 25px;background: #08f;color: #fff;display: inline-block;
		font-size: 70%;
	}
	.theme ul:active{
		background: #9cf;
	}
	.too-bar ul,li{
		list-style-type: none;
	}
	.too-bar{
		position: fixed;left: -252px;top: 0;padding: 15px;width: 250px;height: 100vh;background: #fff;border-right: 1px solid #eee;
		z-index: 10;transition: 0.45s;overflow: auto;
	}
	.blog-host-name{
		text-align: center;font-size: 150%;font-weight: 300;color: #414141;
		background-image: linear-gradient(to bottom right, #fb698f, #97cdff);background-clip:text;-webkit-background-clip:text;color: transparent;
	}
	.overflow-screen{
		position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background: rgb(0,0,0,0.3);
		z-index: 9;
	}
	.blog-host-image{
		display: flex;justify-content: space-around;margin: 10px 0;
	}
	.blog-host-image>img{
		width: 160px;height: 160px;border-radius: 50%;margin: auto;
			transition: 0.4s;
	}
	.blog-host-image>img:hover{
		width: 185px;height: 185px;
	}
	.blog-data-list{
		display: flex;justify-content: space-between;border-top: 1px solid #eee;border-bottom: 1px solid #eee;
		padding: 3px;margin: 12px 0;
	}
	.blog-data-list a{
		display: block;text-decoration: none;padding: 16px;transition: 0.2s;
		color: #000;outline: none;font-size: 85%;
	}
	.blog-data-list a:active{
		background: #eee;border-radius: 10px;
	}	
	.blog-data-list div{
		color: #616161;font-size: 120%;font-weight: 200;text-align: center;
		padding: 3px;
	}
	.blog-data-list div:active{
		color: #08f;
	}
	.blog-list li a{
		color: rgb(111,111,111);font-size: 95%;font-weight: 300;
		text-align: center;padding: 12px;margin: 8px auto;
		display: block;
        }
    .blog-list li{
        border-radius: 12px;display: block;
        transition: 0.3s;
    }
    
	.blog-list .true{
		background-image: linear-gradient(to right,#fb698f,#fb692e,#fb699f) !important;
		box-shadow: 4px 3px 3px 3px #fb698f;transition: 0.3s;
	}
    .blog-list .true a{color: #fff !important;}
	.blog-list .true:hover{
		opacity: 0.75;
	}
	.blog-list li:hover{
		background: #eee;
	}
	
	.blog-findme-source>*{
		display: inline-block;padding: 9px;
	}
	.blog-findme-source a{
		display: block;width: 64px;height: 64px;border-radius: 50%;
		margin: 1px;font-size: 150%;transition: 0.18s;
		text-align: center;text-decoration: none;line-height: 0;
		padding-top: 32px;
	}
	.blog-findme-source a:active{
		background: #eee;opacity: 0.85;
	}
	.blog-findme-source li p{
		display: block;text-align: center;font-size: 70%;font-weight: 300;color: #414141;
	}
	
	.fa-pencil-square:active{
		font-size: 118%;
	}
	.footer{
		background: #eee;color: rgb(100,100,100);width: 100vw;padding: 18px;
		font-weight: 300;font-size: 75%;
	}
    .footer a{color: #08f;}
