<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<title>{{ page.title }}-鹿鹿有为</title>
	{% include header.html %}
</head>

<body>
	<div class="overflow-screen" style="display: none;"></div>
	<section class="head-tittle"><span class="too-bar-btn" onclick="tooBarBtn(0)">@</span>鹿碌有为</section>
	<section style="height: 90px;"></section>
	
	<section class="main-content">
		{% include blog.html %}	
	</section>
	{% include toobar.html %}
	
	
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</body>
</html>
    
