<!DOCTYPE html>
<html lang="zh-cn">

<head>
	{% include header.html %}
	<title>{{ page.title }}-{{ site.data.config.title }}</title>
	{% include blog.html %}
</div>
</head>

<body>
	<section style="height: 90px;"></section>
	<section style="color: #fff;background: rgb(255,255,255,0.15);width: 100vw;padding: 28px;font-size: 255%;">{{ page.title }}</section>
	<section class="main-content">
		<div class="content-index">
        	{{ content }}
        </div>
	</section>
	{% include toobar.html %}
    {% include footer.html %}
	
	
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</body>
</html>
    
