<!DOCTYPE html>
<html lang="zh">

<head>
	{% include header.html %}
	<title>鹿碌有为</title>
</head>

<body>
	<div class="overflow-screen" style="display: none;"></div>
	<section class="head-tittle"><span class="too-bar-btn fa fa-bars" onclick="tooBarBtn(0)"></span>鹿碌有为</section>
	<section style="height: 100px;"></section>
	<section class="main-content">
		{{ content }}	
	</section>
	
	{% include toobar.html %}
	{% include footer.html %}
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</body>
</html>